<header class="header-about">
 <div class="container">
  <div class="content-w">
   <div class="title-w">
    <h1>About us</h1>
   </div>
   <div class="content">
   </div>
   <div class="buttons-w">
    <a ng-click="go($event)" id="_services">Services</a>
    <a ng-click="go($event)" id="_products">Products</a>
    <a ng-click="go($event)" id="_our-team">Our team</a>
   </div>
  </div>
 </div>
</header>
<section class="about-section">
 <div class="container">
  <div class="title-w" id="services">
   <h1>Services</h1>
  </div>
  <div class="content-w">
   <p>At EcoType Carwash we’re offering premium services when it comes about automobile valeting and customer care, this is one of the reasons why we are commuting wherever your car is in London. And that’s not all, we are committed to look after the planet too. We’ve been trying to find a way to wash a car without water – yes, waterless - and now it’s finally possible! Thanks to the new waterless car wash technology, we can save approximately 910 litres/year/car (waterwise.org.uk)!* This is a great way to help the planet, especially now when the climate change is also causing water shortage.</p>
   <div class="tags-w">
    <ul>
      <li><a href="#"><span>#</span>Ecofriendly</a></li>
      <li><a href="#"><span>#</span>Waterless</a></li>
      <li><a href="#"><span>#</span>MobileTeam</a></li>
    </ul>
   </div>
  </div>
  <div class="title-w" id="products">
   <h1>Products</h1>
  </div>
  <div class="content-w">
   <p>From the very beginning we started from the idea that we want to offer our services by using ECO friendly products. Of course, it wasn’t “easy as pie” to find them but we have them now! Over 65% of the products we are using are ECO friendly, and we’re still working on rising that number, plus 100% of our products, once that are mixed and ready to use, don’t need not even one drop of water. There are dozens of distributors out there, but only a few that offer quality and professionalism, and even fewer who care about the planet. And those are the ones we are working with! If you would like to know more about our products don’t hesitate to contact us.  </p>
  </div>
  <div class="title-w" id="our-team">
   <h1>Dream team</h1>
  </div>
  <div class="content-w">
   <p>When we started working together, we’ve had no guarantee that this is something that is going to work. From the very begging this small team believed in this big idea/project/job/etc… We didn’t become a team because of any financial reasons or anything similar to that. Each of us has a passion: cars, planet, design, impeccable customer service, IT, and so on. It didn’t take long to realise that all those passions are the perfect ingredients for a cocktail called EcoType Carwash. This is us, the Dream </p>

  </div>
 </div>
</section>