<header class="header-about">
 <div class="container">
  <div class="content-w">
   <div class="title-w">
    <h1>About us</h1>
   </div>
   <div class="content">
   </div>
   <div class="buttons-w">
    
   </div>
  </div>
 </div>
</header>
<section class="about-section">
 <div class="container">
  <div class="s_w">
   <div class="title-w">
     <h2>EcoType? Carwash? Mobile?</h2>
  </div>
  <div class="content-w">
    <p>This idea came to us at a time when we were looking to do something different. We've been looking for a way to stay more around the cars for which we have an unusual high passion. But the ‘unusual’ is just starting now: how would we find something that would be beneficial to both the planet and cars, including their owners at the same time?
    After dozens of hours of research we found an answer: waterless carwash.
    With no hesitation our research continued to find out who would be the most suitable distributor with a history that would determine us to choose. Of the hundreds we only choose ten, and of those ten left only two. Yes, that’s how serious we are about quality!
    </p>
   </div>
  </div>
   <div class="s_w">
    <div class="title-w">
    <h2>The results of our products choices are:</h2>
   </div>
   <div class="content-w">
    <ul>
      <li>Partially natural - the latest technology is very helpful in this area and we are making a real use of it</li>
      <li>NO hazardous - your car in safe hands</li>
      <li>ECO friendly - waterless and PH balanced products</li>
      <li>High quality - cleanliness, protection and shine</li>
    </ul>
      <p>Because we’re not using any water, our services could be offered at any location you choose in London. This is a great help for people who would like to save time for other activities.
      When many others get stuck in car washes where a huge amount of water is wasted every day, and their cars leave the forecourt with swirls and scratches after waiting in endless queues, YOU can make the difference by choosing an ECOfriendly, manual and mobile carwash: EcoType. 
      </p>
     </div>
   </div>
   <div class="s_w">
    <div class="title-w">
    <h2>In this case being different means the following:</h2>
   </div>
   <div class="content-w">
    <ul>
      <li>You support the planet</li>
      <li>You save time</li>
      <li>You benefit from superior quality services</li>
      <li>You socialize with a friendly team</li>
      <li>Your car will benefit from exclusive attention</li>
    </ul>
    <p><b>The simple fact that you are on our website shows that you care. The next step is one of the following:</b></p>
   </div>
   <div class="buttons-w">
    <a href="/book">Booking</a>
    <a href="/contact">Contact us</a>
   </div>
   </div>
 </div>
</section>