<header class="header-about">
 <div class="container">
  <div class="content-w">
   <div class="title-w">
    <h1>About us</h1>
   </div>
   <div class="content">
   <p>We don't say that we are the best, our customers says that.</p>
   </div>
   <div class="buttons-w">
    <a ng-click="goTofirst()">Dummy text</a>
    <a ng-click="goToSecond()">Dummy text</a>
    <a ng-click="goTothird()">Dummy text</a>
   </div>
  </div>
 </div>
</header>
<section class="about-section">
 <div class="container">
  <div class="title-w" id="first">
   <h1>Lorem ipsum is just text</h1>
  </div>
  <div class="content-w">
   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in </p>
  </div>
  <div class="title-w" id="second">
   <h1>Lorem ipsum is just text</h1>
  </div>
  <div class="content-w">
   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in </p>
  </div>
  <div class="title-w" id="third">
   <h1>Lorem ipsum is just text</h1>
  </div>
  <div class="content-w">
   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in </p>
  </div>
 </div>
</section>
<section class="section-team">
 <div class="container">
  <div class="row">
   <div class="col-md-4 col-sm-12">
    <div class="img-w">
     <img src="images/team/raul.jpg">
    </div>
    <div class="details">
   	 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
   </div>

   <div class="col-md-4 col-sm-6">
   	<div class="img-w">
     <img src="images/team/robert.jpg">
    </div>
    <div class="details">
   	 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
   </div>

   <div class="col-md-4 col-sm-6">
   	<div class="img-w">
     <img src="images/team/ianos.jpg">
    </div>
    <div class="details">
   	 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
   </div>
  </div>
 </div>
</section>