<header class="header-book">
 <div class="container">
  <div class="title-w">
   <h1>Simple as ... <br><span>One, Two, Three</span></h1>
  </div>
 </div>
</header>
<section class="book-section">
 <div class="container">
  <div class="row" ng-if="vm.complete === false">
   <div class="col-md-6">
     <div class="subtitle-w">
      <h2><span>One. </span>Choose the service that fits you.</h2>
     </div>
     <div class="content-w">
      <p>Your car might need a simple and efficient Refresh or maybe a full valet also known as Pure + service. On the right hand side is a description for every service we do. Feel free to go through it and simply click on the one that fits you.</p>
     </div>
     <div class="wrapper">
     <div class="subtitle-w">
      <h2><span>Two.</span> Let us know your choice.</h2>
     </div>
     <div class="content-w">
      <p>After you’ve decided what service is your best fit, press NEXT. Complete the basic details that we need – name, contact details, registration plate and location – then SUBMIT your booking. This process will only take up to 2 minutes.  We will confirm your booking shortly after your submission. If you prefer to book via phone or email please feel free to do so.</p>
      <p>* Your contact details and address will only be used by us, there’s no other third party to have access to any of those confidential information.</p>
     </div>
     <div class="wrapper">
     <div class="subtitle-w">
      <h2><span>Three.</span> Enjoy the New Car Feeling.</h2>
     </div>
     <div class="content-w">
      <p>Our hardworking and trustworthy team will commute to the address you provided us so you are saving your precious time. After our touch, your car will become a joy to drive again.</p>
     </div>
    </div>
    </div>
   </div>
   <div class="col-md-6">
      <choose-packet ng-if="vm.next === false"></choose-packet>
      <user-details ng-if="vm.next === true"></user-details>
   </div>
   <div class="col-md-12">
    <div class="content-w">
     <p>*The price above are for small and medium size cars, for bigger cars there will be an extra charge of £10.</p>
    </div>
   </div>
  </div>
  <div class="complete" ng-if="vm.complete === true">
     <div class="title-w">
      <h1>Your booking has been successfuly sended ! <i class="fa fa-check fa-1x"></i></h1>
     </div>
     <div class="content-w">
      <h2>Thank you for choosing us.</h2>
      <p>Mr/Ms {{vm.packet.name}} please wait for our confirmation, therefore our team will be in touch shortly</p>
      <a href="/home">Home</a>
     </div>
    </div>
 </div>
</section>