<header class="book-header">
 <div class="container">
  <div class="content-w">
   <h1>Bookings</h1>
  </div>
 </div>
</header>
<section class="book-section">
 <div class="container">
  <div class="row">
   <div class="col-md-6">
    <form id="book-form">
     <div class="inp-w">
      <p><i class="fa fa-user-o fa-2x"></i></p>
      <input type="text" placeholder="Full name">
     </div>
     <div class="inp-w">
   	  <p><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></p>
   	  <input type="text" placeholder="Enter your email">
   	 </div>
     <div class="inp-w">
   	  <p><i class="fa fa-mobile fa-3x" aria-hidden="true"></i></p>
   	  <input type="text" placeholder="e.g: 074xxxxxxx">
   	 </div>
     <div class="inp-w">
   	  <p><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></p>
   	  <input type="text" placeholder="Enter your address">
   	 </div>
   	 <div class="inp-w">
   	  <p><i class=""></i></p>
   	  <input type="text" placeholder="">
   	 </div>
   	 <div class="inp-w">
   	  <p><i class="fa fa-address-o "></i></p>
   	  <input type="text" placeholder="postcode">
   	 </div>
   	 <div class="inp-w">
   	  <p><i class="fa fa-address-o "></i></p>
   	  <div class="plan">
   	   <div class="plan-1">

   	   </div>
   	   <div class="plan-2">

   	   </div>
   	   <div class="plan-3">

   	   </div>
   	  </div>
   	 </div>
   	 <div class="inp-w">
   	  
   	  <textarea placeholder="write extra message">
   	  
   	  </textarea>
   	 </div>
   	 <div class="submit-w">
   	  <button type="submit">Confirm <i class="fa fa-check"></i></button>
   	 </div>
    </form>
   </div>
   <div class="col-md-6">
   	 
   </div>
  </div>
 </div>
</section>