<header class="header-contact">
 <div class="container">
  <div class="content-w">
   <div class="title-w">
    <h1>Contact Us</h1>
   </div>
  </div>
 </div>
</header>
<section class="section-contact">
 <div class="container">
  <div class="row">
   <div class="col-md-6">
    <div class="subtitle-w">
     <h2>Share your thoughts with us</h2>
    </div>
    <div class="content-w">
     <p>Your opinion is important! Feel free to contact us for letting us know how to improve our services, enquire about a service or booking, propose business to us or anything else you’d like to tell us. We’ll give our best to get back to you as soon as possible. 
However, please note that our working schedule is the following:</p>
     <div class="wrapper">
      <ul>
       <li>Monday: <span>08:00 - 16:00</span></li>
       <li>Tuesday: <span>08:00 - 17:00</span></li>
       <li>Wednesday: <span>08:00 - 17:00</span></li>
       <li>Thursday: <span>08:00 - 17:00</span></li>
       <li>Friday:   <span>08:00 - 17:00</span></li>
      </ul>
     </div>
    </div>
   </div>
   <div class="col-md-6">
   	<form class="contact-form" name="contactForm" ng-submit="vm.submit()" ng-if="vm.sent === false">
   	 <div class="inp-w">
   	  <p><i class="fa fa-envelope-o fa-1x"></i></p>
   	  <input type="text" name="email" placeholder="e.g: youremail@domain.com" id="email" ng-model="vm.emailDetails.email" minlength="5" required="">
   	  <div ng-messages="contactForm.email.$error" rolle="alert" ng-if="!email.length" class="req_message">
   	  <div ng-message="required">
   	  	*
   	  </div>
   	 </div>
   	 </div>
   	 <div class="inp-w">
   	  <p><i class="fa fa-tasks fa-1x"></i></p>
   	  <select name="select" ng-model="vm.emailDetails.subject">
   	  	<option selected="selected">Select a subject</option>
   	  	<option>Feedback</option>
   	  	<option>Booking</option>
   	  	<option>Business enquiry</option>
   	  	<option>General enquiry</option>
   	  </select>
   	  <div ng-messages="vm.contactForm.email.$error" rolle="alert"  class="req_message">
   	  <div ng-message="required" ng-if="!email.length">
   	  	*
   	  </div>
   	 </div>
   	 </div>
   	 <div class="inp-w">
   	  <p><i class="fa fa-commenting-o fa-1x"></i></p>
   	  <textarea name="message" placeholder="Enter your message" ng-model="vm.emailDetails.message"></textarea>
   	 </div>
     <div class="button-w">
      <button type="submit"><i class="fa fa-send-o"></i> Submit</button>
     </div>
   	</form>
    <div class="sent-success" ng-if="vm.sent === true">
     <div class="title-w">
      <h2>Your message has been successfully sent!</h2>
     </div>
     <div class="content-w">
      <p>Thank you for choosing us. Please check your email to see if your booking was confirmed, alternatively we might contact you over the phone.</p>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>