<div class="header">
 <div class="container">
  <div class="title-w">
   <h1>We are the <span>EcoType Carwash </span> !</h1>
   <p>Our waterless car wash is just as cool as it sounds like! And we’re mobile too, covering the whole LONDON area. </p>
   <a href="/about">Learn more ...</a>
  </div>
 </div>
</div>
<main class="main">
 <div class="container">
  <div class="title-w">
   </div>
  <div class="content-w">
    <div class="content">
     <div class="subtitle-w">
      <h3>Contact us by <span>21st of June 2017</span> and you'll benefit from <span>25% OFF</span> on your first booking!</h3>
     </div>
    </div>
    <div class="row">
     <div class="col-md-6 col-xs-12"> 
      <div class="contact-w">
       <h3>Contact details: </h3>
       <ul>
        <li><i class="fa fa-envelope fa-2x"></i> admin@ecotypecarwash.co.uk</li>
        <li><i class="fa fa-mobile fa-3x"></i>+44-7432-572-365</li>
       </ul>
      </div>
     </div>
     <div class="col-md-6 col-xs-12">
      <div class="contact-w">
       <h3>Social media</h3>
        <ul>
          <li><a href="www.facebook.com"><i class="fa fa-facebook fa-2x"></i></a></li>
        </ul>
      </div>
     </div>
    </div>
    <div class="last-words">
     <p>EcoType Carwash – when your car becomes your joy.</p>
    </div>
  </div>
 </div>
</main>