<div class="header">
 <div class="container">
  <div class="title-w">
   <h1>We are <span>Ecotypecarwash </span> !</h1>
   <p>Our waterless car wash is just as cool as it sounds like! And we’re mobile too, covering the whole LONDON area. </p>
   <a href="#">Learn more ...</a>
  </div>
 </div>
</div>
<main class="main">
 <div class="container">
  <div class="title-w">
   <h1>Our website is in working progress <i class="fa fa-exclamation-triangle"></i></h1>
   </div>
  <div class="content-w">
    <div class="content">
     <p>Our website is going through big changes, but our services are <span>available</span>. In fact get in touch with us by using the contact details listed below and tell us how much you willing to see your automobile new exactly as it beigin to ride on the roads and our team will be in touch shortly.</p>
    </div>
    <div class="row">
     <div class="col-md-6 col-xs-12"> 
      <div class="contact-w">
       <h3>Contact details: </h3>
       <ul>
        <li><i class="fa fa-envelope fa-2x"></i> support@ecotypecarwash.co.uk</li>
        <li><i class="fa fa-mobile fa-3x"></i>+44-7432-572-365</li>
       </ul>
      </div>
     </div>
     <div class="col-md-6 col-xs-12">
      <div class="contact-w">
       <h3>Social media</h3>
        <ul>
          <li><a href="www.facebook.com"><i class="fa fa-facebook fa-2x"></i></a></li>
          <li><a href="www.facebook.com"><i class="fa fa-linkedin fa-2x"></i></a></li>
          <li><a href="www.facebook.com"><i class="fa fa-twitter fa-2x"></i></a></li>
        </ul>
      </div>
     </div>
    </div>
    <div class="last-words">
     <p><span>"</span>EcoType Carwash – when your car becomes your joy.<span>"</span></p>
    </div>
  </div>
 </div>
</main>