html,
body {
	padding: 0;
	margin: 0;
}

/*navbar*/
 .navbar {
 	background: linear-gradient(0deg, #ffffff, #f1f1f1);
 	padding: 0;
 	margin: 0;
 	box-shadow: 0 0 2px 0 #999;
 }

.navbar .nav {
	margin-top: 14px;
	position: relative;
	padding: 0;
	margin-top: auto;
	margin-bottom: auto;
	padding: 0;
}

.navbar .nav li {
	height: 100%;
}

.navbar .nav li:first-child {
	height: 100%;
}

/*demo*/

/*end*/
.navbar .nav li a {
	font-size: 18px;
	padding: 30px 16px;
	color: #222;
}

.navbar .nav li a:hover {
	background: #7AB539;
	color: #fff;
	transition: all .5s;
	-webkit-transition: all .5s;
}

.navbar .nav li a:active {
	background: #42B72A;
	transition: all 1s;
}

.navbar .nav li a:focus {
	background: #42B72A;
	transition: all 1s;
	color: #fff;
}

.navbar .navbar-header .navbar-brand {
	height: auto;
	padding: 0;
}

.navbar .navbar-header .navbar-brand img {
	height: 80px;
	margin: auto 0;
	padding: 0 0 7px 0;
}

/*end navbar*/

/*start header*/

.header {
	width: 100%;
	height: 700px;
	padding: 0;
	margin: -20px 0 0 0;
	background: url('../images/background/header.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.header .cover {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.1));
	width: 100%;
	height: 100%;
}

.header .cover .container-t {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.header .cover .container-t .content {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	top: 200px;
}

.header .cover .container-t .content .title-w {
	text-align: center;
}

.header .cover .container-t .content .title-w h1 {
	color: #fff;
	font-size: 45px;
	text-shadow: 0px 1px 0px #333;
}

.header .cover .container-t .content .title-w h1 span {
	color: #7AB539;
}

.header .cover .container-t .content .content-w p {
	font-size: 23px;
	color: #fff;
}

/*all*/
.section1 .row .col-md-6 .buttons-w,
.section2 .row .col-md-6 .buttons-w {
	width: 100%;
	text-align: center;
	padding: 30px 0;
}

.section1 .row .col-md-6 .buttons-w a,
.section2 .row .col-md-6 .buttons-w a {
	padding: 10px 20px;
	background: #f1f1f1;
	color: #555;
	transition: all 0.8s;
	font-size: 18px;
	text-decoration: none;
	border-radius: 3px;
}

.section1 .row .col-md-6 .buttons-w a:hover,
.section2 .row .col-md-6 .buttons-w a:hover {
	box-shadow: inset 160px 0 0 0 #42b72a;
	color: #fff;
	transition: all .5s;
}

/*end all*/

/*end section1*/

.section1 {
	width: 100%;
}

.section1 .container {
	width: 100%;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.section1 .row {
	padding: 30px 0px 30px 40px;
	margin: 0;
}

.section1 .row .col-md-6:last-child .img-w {
	width: 100%;
	height: auto;
	text-align: center;
}

.section1 .row .col-md-6:last-child .img-w img {
	width: 100%;
	height: 100%;
}

.section1 .row .title-w {
	text-align: center;
	width: 100%;
	margin-bottom: 50px;
}

.section1 .row .title-w h1 {
	color: #7AB539;
}

.section1 .row .col-md-6 .content-w p {
	font-size: 20px;
	line-height: 30px;
}

.section1 .row .col-md-6 ul li {
	font-size: 18px;
	list-style-type: none;
}

.section1 .row .col-md-6 ul li span img {
	width: 35px;
	height: 35px;
	padding: 5px 6px;
}

/*section2*/

.section2 {
	width: 100%;
}

.section2 .row {
	padding: 40px 0;
	margin: 0;
	border-bottom: 1px solid #c2c2c2;
}

.section2 .row .col-md-6:first-child .img-w {
	padding: 20px 0;
}

.section2 .row .col-md-6:first-child .img-w img {
	width: 90%;
	height: 90%;
}

.section2 .row .col-md-6 .content-w {
	padding: 20px 0;
	text-align: left;
}

.section2 .row .col-md-6 .content-w p {
	font-size: 20px;
	color: #555;
}

/*section3*/

.section3 {
	width: 100%;
	margin: 0;
	padding: 0;
	background-attachment: fixed;
}

.section3 .row {
	margin: 0;
}

.section3 .row .col-md-3 .wrapper {
	box-shadow: 0 0 3px 0px #3ab544;
	border-radius: 1%;
	background: rgba(255, 255, 255, 0.6);
	overflow: hidden;
}

.section3 .title-w {
	width: 100%;
	padding: 20px 0;
	text-align: center;
}

.section3 .title-w h1 {
	color: #fff;
	font-size: 45px;
}

.section3 .row .col-md-3 .img-w {
	text-align: center;
}

.section3 .row .col-md-3 .img-w img {
	width: 50%;
	height: 50%;
	padding: 10px;
}

.section3 .row .col-md-3 .img-w i {
	color: green;
}

.section3 .row .col-md-3 .content-w {
	padding: 10px 0;
	text-align: center;
}

.section3 .row .col-md-3 .content-w p {
	font-size: 16px;
	padding: 0 20px;
}



.section3 .buttons-w a {
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #fff;
	border-radius: 2px;
	color: #555;
	font-size: 18px;
	background: #fff;
	transition: all 1s;
	border: 1px solid #31B55F;
	margin: 0 20px;
}

.section3 .buttons-w a:first-child {
	background: #31B55F;
	color: #fff;
}

.section3 .buttons-w a:last-child:hover {
	box-shadow: inset 205px 0 0 0 #31B55F;
	color: #fff;
	transition: all 1s;
}

.section3 .buttons-w {
	width: 100%;
	text-align: center;
	padding: 40px 0;
}

/*section4*/

.section4 {
	width: 100%;
	height: 350px;
	background: #f1f1f1;
}

.section4 .container .content-w {
	width: 100%;
	text-align: center;
	position: relative;
	top: 100px;
}

.section4 .container .content-w .title-w h1 {
	font-size: 48px;
	color: #31B55F;
}

.header-about {
	width: 100%;
	height: 500px;
	background: linear-gradient(147.9deg,  #39B54A, #4ED478);
}

.header-about .container .content-w,
.header-contact .container .content-w  {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 130px;
}

.header-about .container .title-w,
.header-contact .container .content-w .title-w {
	width: 100%;
	text-align: center;
}

.header-about .container .title-w h1,
.header-contact .container .content-w .title-w h1 {
	font-weight: 600;
	font-size: 52px;
	color: #fff;
}

.header-about .container .content,
.header-contact .container .content {
	text-align: left;
}

.header-about .container .content p,
.header-contact .container .content p {
	font-size: 22px;
	color: #fff;
}

.header-about .container .buttons-w a {
	display: inline-block;
	font-size: 18px;
	cursor: pointer;
	padding: 20px 10px;
	color: #555;
}

.header-contact {
	width: 100%;
	height: 500px;
	background: linear-gradient(-147.9deg,  #39B54A, #4ED478);
}

.about-section {
	width: 100%;
}

.about-section .container .title-w {
	max-width: 960px;
	margin: 0 auto;
}

.about-section .container .title-w h1 {
	color: #333;
}

.about-section .container .content-w {
	width: 100%;
	padding: 20px;
}

.about-section .container .content-w p {
	font-size: 18px;
	color: #555;
}

.section-contact {
	width: 100%;
}

.section-contact .container .row {
	padding: 0;
}

.section-contact .container .row .col-md-6 .img-w {
	width: 100%;
}

.section-contact .container .row .col-md-6 .img-w img {
	width: 100%;
	height: 100%;
	position: relative;
	top: 100px;
}


.section-contact .container .row .contact-form {
	margin-top: 20px;
	margin-bottom: 20px;
}

.section-contact .container .row .contact-form .inp-w {
	display: block;
	position: relative;
}

.section-contact .container .row .contact-form .inp-w input {
	padding: 5px;
	width: 70%;
}

.section-contact .container .row .contact-form .inp-w p {
	padding: 5px;
}

.section-contact .container .row .contact-form .inp-w .req_message {
	color: red;
}

.section-contact .container .row .contact-form .inp-w p, input, .req_message {
	display: inline-block;
	font-size: 20px;
}

.section-contact .container .row .contact-form .inp-w:last-child {
	text-align: center;
}

.section-contact .container .row .contact-form .inp-w textarea {
	width: 100%;
	height: 250px;
}

.section-contact .container .row .col-md-6 .contact-form {
	width: 100%;
}

.section-contact .container .row .col-md-6 .contact-form button {
	float: right;
	position: relative;
	right: 10%;
	font-size: 17px;
	background: #fff;
	border: 1px solid #c2c2c2;
}

.section-contact .container .row .col-md-6 .contact-form .inp-w select {
	width: 70%;
	font-size: 18px;
	padding: 5px;
}

.section-team {
	width: 100%;
	margin: 0;
	padding: 0;
	background: #f1f1f1;
}


.section-team .container .row {
	padding: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

.section-team .container .row .col-md-4 .img-w {
	width: 100%;
	text-align: center;
	padding: 10px;
}

.section-team .container .row .col-md-4 .img-w img {
	width: 33%;
	border-radius: 100%;
}

.section-team .container .row .col-md-4 .details {
	max-width: 300px;
	margin: 0 auto;
}


.section-team .container .row .col-md-4 .details p {
	font-size: 16px;
}


.footer {
	width: 100%;
	background: #222;
	padding: 0;
	margin: 0;
}

.footer .row .col-md-2 {
	height: 80px;
	position: relative;
}

.footer .row .col-md-2 {
	text-align: center;
}

.footer .row .col-md-2 p {
	position: absolute;
	bottom: 0px;
	color: #f1f1f1;
}

.footer .copyright {
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
}
.footer .copyright p {
	font-size: 16px;
	color: #fff;
}

.footer .row .col-md-2 p,
.footer .row .col-md-5 p,
.footer .row .col-md-5 ul li a {
	color: #fff;
	font-size: 17px;
} 