body {
	margin: 0;
	padding: 0;
}

.main {
	height: 100vh;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo-w {
	width: 300px;
}

.logo-w img {
	width: 100%;
	height: auto;
}

.title-w h1 {
	font-family: Roboto;
	font-weight: bold;
	color: #222;
}

.main .content-w p {
	font-size: 18px;
	font-family: Roboto;
}

.main .content-w p:nth-child(2) span {
	color: green;
}

.main .content-w p i {
	padding: 5px;
	color: gold;
	font-size: 25px;
}



.main .content-w span {
	color: #7AB539;
	font-weight: bold;
}