html,
body {
	padding: 0;
	margin: 0;
	background: url('../images/background.jpg');
	background-position: center;
	background-size: cover;
	height: 875px;
}

.wrapper {
	width: 100%;
	height: 923px;
	background: rgba(0, 0, 0, 0.6);
}

.main {
	width: 100%;
	height: 100%;
}

.main .container {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.main .content-w {
	position: relative;
	top: 100px;
	border: 1px solid #7AB539;
	border-radius: 5px;
	box-shadow: 0 0 1px #7AB539;
	background: rgba(255, 255, 255, 0.9);
}

.main .content-w h1 {
	font-size: 45px;
	color: #444;
}

.main .content-w p {
	font-size: 18px;
	color: #444;
	font-family: tahoma;
	font-weight: bold;
}

.main .content-w .list {
	text-align: left;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.main .content-w .list li {
	list-style-type: none;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #333;
}

.main .content-w .list li span {
	color: green;
	padding: 5px 5px; 
	font-size: 20px;
}

.main .container .content-w .img-w {
	width: 100%;
}

.main .container .content-w .img-w img {
	width: 50%;
}