<ul class="inp-w" >
      <li ng-repeat="plan in vm.packets"><input type="radio" name="packet" value="{{plan.title}}" ng-checked="vm._packet.id === plan.id" ng-model="vm.checkedP" ng-change="vm.packet()"> <label for="packet">{{plan.title}}</label></li>
    </ul>
<div class="packet-w">
     <table ng-repeat="packet in vm.packets" ng-show="packet.title === vm.checkedP">
      <tr ng-repeat="(key, value) in packet.details">
        <td><i ng-if="value.include === true" class="fa fa-check fa-1x"></i> <i ng-if="value.include === false" class="fa fa-times fa-1x"></i> {{value.value}}</td>
      </tr>
     </table>
     <div class="price-bar">
       <p><span>Total price</span>: £{{vm.price}} </p>
      </div>
     <div class="button-w">
      <a href="#" ng-click="vm._next()">Next</a>
     </div>
</div>
