<div class="form-w">
 <form class="form" ng-submit="vm.appComplete()">
  <div class="inp-w">
   <input type="text" name="full-name" placeholder="Full name" required ng-model="vm.clientDetails.name">
  </div>
  <div class="inp-w">
   <input type="text" name="email" placeholder="Email address" required ng-model="vm.clientDetails.email">
  </div>
  <div class="inp-w">
   <input type="text" name="phone-nr" placeholder="Phone number" required ng-model="vm.clientDetails.phone">
  </div>
  <div class="inp-w">
   <input type="text" name="car-registration" placeholder="Vehicle registration number" required ng-model="vm.clientDetails.registration_nr">
  </div>
  <div class="inp-w">
   <input type="text" name="location-details" placeholder="Address" required ng-model="vm.clientDetails.address">
  </div>

  <div class="inp-w">
   <input type="text" name="postcode" placeholder="Postcode" required ng-model="vm.clientDetails.postcode">
  </div>
  <div class="inp-w">
    <p><i class="fa fa-calendar fa-2x"></i></p>
  	<select class="select" required ng-model="vm.clientDetails.date_day">
     <option selected="selected">dd</option>
  	 <option ng-repeat="number in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23 ,24, 25, 26, 27, 28, 29, 30, 31]" >{{number}}</option>
  	</select>
  	<select class="select" required ng-model="vm.clientDetails.date_month">
     <option selected="selected">mm</option>
  	 <option ng-repeat="number in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">{{number}}</option>
  	</select>
  	<select class="select" required ng-model="vm.clientDetails.date_year">
     <option selected="selected">yyyy</option>
  	 <option ng-repeat="number in [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23 ,24, 25, 26, 27, 28, 29, 30, 31]">20{{number}}</option>
  	</select>
  </div>
  <div class="inp-w">
   <textarea placeholder="Message ..." ng-model="vm.clientDetails.message"></textarea>
  </div>
  <div class="button-w">
    <a href="#" ng-click="vm.next = false;">Back</a>
    <input type="submit" name="submit" value="Submit">
  </div>
 </form>
</div>